#root {
  width: 100%;
  max-width: 1100px;  
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 900px;  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: Black;
  color: white;
  padding: 18px 35px;
  font-size: 22px;  
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkblue;
}

h1, h2, h3 {
  margin: 20px 0;  
}

.home-page h1 {
  font-size: 32px;  
}

.home-page button {
  font-size: 24px;  
}

.question-section {
  margin: 20px 0;  
}

.question-count {
  font-size: 20px;  
}

.question-text {
  font-size: 24px;  
  font-weight: bold;
  margin: 20px 0;
}

.question-title {
  font-size: 1.25rem;  
  margin-bottom: 0.8rem;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.answer-section button {
  width: 300px;  
  margin: 15px 0;  
  padding: 18px;  
  font-size: 24px;  
}

.score-section {
  margin-top: 20px;  
}

.answers-summary {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  max-width: 700px;  
}

.answers-summary ul {
  list-style-type: none;
  padding: 0;
}

.answers-summary li {
  margin: 10px 0;  
}

.correct {
  color: rgb(48, 255, 48);
}

.incorrect {
  color: rgb(255, 0, 0);
}

.feedback {
  font-style: italic;
  font-size: 16px;  
}

.timer {
  font-size: 20px;  
  margin-top: 20px;
}

body {
  background-image: url('../images/Leon.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.question-image {
  margin: 20px 0;
  text-align: center;
}

.quiz-image {
  width: 100%;
  max-width: 500px;  
  height: auto;
  border-radius: 10px;
  border: 3px solid #ddd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.correct-answer {
  background-color: green !important;
}

.incorrect-answer {
  background-color: red !important;
}

.response-message {
  font-size: 42px;  
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .app {
    padding: 15px;
    max-width: 1000px;  
  }

  .question-text {
    font-size: 26px;  
  }

  .answer-section button {
    width: 300px;
    padding: 18px;
    font-size: 24px;  
  }

  .quiz-image {
    max-width: 60%;
  }

  .timer {
    font-size: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .app {
    max-width: 900px;
    padding: 15px;
  }

  .question-text {
    font-size: 24px;  
  }

  .answer-section button {
    width: 300px;
    padding: 18px;
    font-size: 24px;  
  }

  .quiz-image {
    max-width: 70%;
  }

  .timer {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .app {
    max-width: 850px;  
    padding: 15px;
  }

  .home-page h1 {
    font-size: 24px;
  }

  .home-page button {
    font-size: 20px;
    padding: 12px 25px;
  }

  .question-text {
    font-size: 22px;
    margin: 20px 0;
  }

  .answer-section button {
    width: 300px;
    padding: 18px;
    font-size: 22px;  
  }

  .quiz-image {
    max-width: 60%;
    height: auto;
  }

  .timer {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .home-page h1 {
    font-size: 20px;
  }

  .home-page button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .question-text {
    font-size: 20px;
    margin: 20px 0;
  }

  .answer-section button {
    width: 250px;  
    padding: 15px;
    font-size: 18px;  
  }

  .quiz-image {
    max-width: 50%;
    height: auto;
  }

  .timer {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .home-page h1 {
    font-size: 18px;
  }

  .home-page button {
    font-size: 16px;
    padding: 8px 15px;
  }

  .question-text {
    font-size: 18px;
  }

  .answer-section button {
    width: 230px;  
    padding: 16px;
    font-size: 18px;
  }

  .quiz-image {
    max-width: 50%;
  }

  .timer {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .home-page h1 {
    font-size: 16px;
  }

  .home-page button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .question-text {
    font-size: 14px;
  }

  .answer-section button {
    width: 210px;  
    padding: 12px;
    font-size: 16px;
  }

  .quiz-image {
    max-width: 45%;
  }

  .timer {
    font-size: 14px;
  }
}